.searcher {
  min-width: 700px;
  height: 45px;
  background-color: var(--ARF-color-Grey);
  border-radius: 30px;
  border: none;
  text-indent: 20px;
}
.searcher::placeholder {
  font-size: 18px;
  text-justify: center;
}
